@charset "UTF-8";
    * {
        margin: auto;
        padding:0%;
    }
    
    .fundo {
        background-image: linear-gradient(45deg, rgb(207, 130, 238), black);
        height: 100vh;
        color: #fff;
        font-family: Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif;
        text-align: center;
        padding: 50px;
        

    
    }
    
    .calculadora {
        position: absolute;
        background-color: rgb(41, 17, 34);
        top: 30%
    }
    
    .calculadora {
        left: 40%;
        transform: translate(-50%, 50);
        border-radius: 20px;
        padding: 15px;
    }
    
    .botao {
        width: 50px;
        height: 50px;
        font-size: 25px;
        cursor: pointer;
        margin: 3px;
        background-color: rgb(48, 35, 59);
        border: none;
        color: #fff;
    }
    
    .botao {
        background-color: black;
    }
    
    #resultado {
        background-color: white;
        height: 30px;
        width: 207px;
        margin: 5px;
        font-size: 25px;
        color: black;
        text-align: right;
        padding: 5px;
    }
